// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
body {
  font-family: $font-family-sans-serif;
}

h2 {
  &.title {
    padding: 25px 0px 10px 0px;
    color: $color-title;
  }
  font-weight: bold;
}

.category-card {
  margin-bottom: 10px;
}
